* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* all button */
.btn {
    padding: 20px 43px;
    background-color: #E55473;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* header */
header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner .banner-text h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 20px;
    margin: 20px 0px;
}

.banner .banner-image {
    padding-top: 50px;
}

.banner .banner-image img {
    margin-bottom: -4px;
}

/* Feature section */
.feature-section {
    max-width: 1440px;
    margin: 0px auto;
}

.feature-text {
    text-align: center;
    margin: 75px 0px;

}

.feature-text h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 100px;
}

.feature-card .f-box {
    width: 464px;
    height: 538px;
    text-align: center;
}

.feature-card .f-box h6 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 20px 0px;
}

.feature-card .img-1 img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px;
}

.feature-card .img-2 img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 36px 60px;
}

.feature-card .img-3 img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 76px 0px;
}

.feature-icon-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 11% 0px 40px;
    padding: 58px 0px;
}

.feature-icon-section .f-icon h6 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* femous view */
.famous-viwe-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;

}

.famous-viwe-section h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}

.famous-viwe-section img {
    width: 400px;
    height: 230px;
}

.famous-viwe-section .image-1 {
    width: 87%;
}

/* Hot Deal  */

.hot-seal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 10rem;
    padding: 100px;
    text-align: center;
}

.hot-seal-container .hot-deal-text h3 {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hot-seal-container .hot-deal-text h3 span {
    color: #E55473;
}

.hot-seal-container .hot-deal-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
}